{% extends 'yoga/base.html' %}
{% load static %}
{% block content %}
<div class="bg-faded p-4 my-4 ">
  <hr class="divider">
  <h2 class="text-center text-lg text-uppercase my-0">Evenements
  </h2>
  <hr class="divider ">
    <section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ftco-animate">
          	<div class="row">
				{% for events in event %}
				<div class="col-md-12 d-flex ftco-animate">
					<div class="blog-entry blog-entry-2 justify-content-end d-md-flex w-100">
						<div class="d-block img-fluid w-10">
							<img class="d-block img-fluid w-100" src="{{events.thumb}}" alt="" style="width:200px;height:300px";>
						</div>
						<div class="text pl-md-4 ml-md-2 pt-4">
							<div class="meta">
								<div><a href="#">{{events.uploaded_at}}</a></div>
							</div>
							<h3 class="heading mt-2">{{events.title}}</h3>
							<p>{{events.text}}</p>
						</div>
					</div>
				</div>
				{% endfor %}
        	</div>
      	</div>
      </div>
    </section> <!-- .section -->
{% endblock %}