<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Nang-Fah</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../css/site.css" rel="stylesheet">

  </head>

  <body>

    <div class="tagline-upper text-center text-heading text-shadow text-white mt-5 d-none d-lg-block"><img src="../img/nangfah_logo.jpg"  height="130" alt="logo" ></div>
    <div class="tagline-lower text-center text-expanded text-shadow text-uppercase text-white mb-5 d-none d-lg-block"></div>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-faded py-lg-4">
      <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Galerie</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active px-lg-6">
              <a class="nav-link text-uppercase text-expanded" href="index.html">Nang-Fah
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item px-lg-6">
              <a class="nav-link text-uppercase text-expanded" href="gim_yoga.html">Gim Yoga</a>
            </li>
            <li class="nav-item px-lg-6">
              <a class="nav-link text-uppercase text-expanded" href="gi_gong.html">Gi Gong</a>
            </li>
            <li class="nav-item px-lg-6">
              <a class="nav-link text-uppercase text-expanded" href="professeur.html">Professeur</a>
            </li>
			<li class="nav-item px-lg-6">
              <a class="nav-link text-uppercase text-expanded" href="cours.html">Cours</a>
            </li>
			<li class="nav-item px-lg-6">
              <a class="nav-link text-uppercase text-expanded" href="galerie.html">Galerie</a>
            </li>
			<li class="nav-item px-lg-6">
              <a class="nav-link text-uppercase text-expanded" href="contact.html">Contact</a>
            </li>
			<li class="nav-item px-lg-6">
              <a class="nav-link text-uppercase text-expanded" href="../fr/index.html"><img class="col-xs-12" width="30" height="100%"	src="../img/france.jpg" id="france"/></a>
            </li>
				<li class="nav-item px-lg-6">
              <a class="nav-link text-uppercase text-expanded" href="../en/index3.html"><img class="col-xs-12" width="30" height="100%" src="../img/English.jpg"id="english"/></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
				<div class="row">
					<div id="intro" class="col-xs-12 col-sm-12 text-justify">							
<div class="gallery">
  <a target="_blank" href="fjords.jpg">
    <img src="fjords.jpg" alt="Fjords" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="forest.jpg">
    <img src="forest.jpg" alt="Forest" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="lights.jpg">
    <img src="lights.jpg" alt="Northern Lights" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="mountains.jpg">
    <img src="mountains.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
</div>
</div>
</div>
		<footer class="bg-faded text-center py-5">
      <div class="container">
        <p class="m-0">Copyright &copy; Nang Fah - Joana Da Silva 2017</p>
      </div>
	 </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>