{% extends 'yoga/base.html' %}

{% block content %}
<div class="bg-faded p-4 my-4 ">
  <hr class="divider">
  <h2 class="text-center text-lg text-uppercase my-0">L’INTERET DU TAI CHI Chen style et Shibashi
  </h2>
  <hr class="divider ">
  <p>L'objectif du Tai Chi est de renforcer les muscles et les os, d'améliorer la circulation du sang et du Qi (énergie interne) dans le corps afin de prévenir des maux et des maladies, de se maintenir en bonne santé, de perdre du poids, de se libérer du stress quotidien et de prolonger son espérance de vie. </p>
  <p>Pour atteindre cet objectif, l’élevé doit concentrer ses efforts sur des exercices physiques lies au tronc du corps et aux membres afin de renforcer sa constitution physique. On parle d’exercice externe.
  </p>
  <p>L’autre aspect concerne la concentration  dans l’expression et la coordination des mouvements hautement lies à une activité spirituelle. On parle d’exercice interne.
  </p>
  <p>L’intégration des exercices statiques mentaux et des exercices dynamiques du corps permettent à l’élève d’accéder à un état appelé « rujing », ce qui n’est autre qu’un état physique et mental du bien-être et d’apaisement de tous les sens. <br />Le résultat est une légèreté du corps et l’élimination des distractions de l’esprit.
  </p>
  <p>Le Tai Chi peut être pratique par n'importe quel individu quel que soit son âge ou son niveau de forme physique.
  </p>
</div>
<div class="bg-faded p-4 my-4 text-justify">
  <hr class="divider">
  <h2 class="text-center text-lg text-uppercase my-0">LA TECHNIQUE DU TAI CHI Chen style et Shibashi
  </h2>
  <hr class="divider">


  <p>Le Tai Chi est un art martial qui a été développé à travers toute la Chine dans le but de contrer les invasions étrangères et les soulèvements de paysans. Historiquement le Tai chi date d’environ 350 ans et a pris naissance dans le village Chen à Wenxian dans la province de Henan en Chine.</p>
  
  <p>Le principe de base est d’utiliser la force de son adversaire contre lui, « avec une once on redirige 1000 livre » et avant tout <br />
    « s’adapter à son adversaire pour le vaincre »</p>
  
  <p>Le Tai Chi consiste en une série de mouvements lents et souples qui s'enchainent avec aisance de façon ininterrompue pour former une gymnastique harmonieuse ressemblant fort à une danse.</p>
  
  <p>Les mouvements sont à la fois souples et doux mêlés occasionnellement de gestes vif et énergiques.</p>
  
  <p>Au fil du temps le Tai Chi s’est éloigné de ses origines guerrières pour devenir un art bien plus oriente vers le bien-être et la sante. Lorsqu’on pratique le Tai Chi, il faut garder à l’esprit les structures fondamentales et naturelles des choses dans chaque mouvement. La technique n’est pas acquise par la force ou la dureté mais plutôt en allant avec le courant tout en rondeur et en souplesse.</p>
  
  <p>Si vous résistez, vous devenez un obstacle à vous-même et à l’ordre naturel des choses. Par contre, en vous décontractant et en vous laissant aller vous devenez plus puissant. Tel que disait un vieux maitre de Tai Chi « l’eau est souple et grâce à cette souplesse, même les griffes du tigre ne peuvent l’atteindre et malgré tout, elle peut user avec les temps les roches <br /> les plus dures ».</p>
  
  <p>En d’autres Termes, il faut toujours nager dans le sens du courant, tel est le principe du Tai Chi.</p>
</div>

{% endblock %}