{% extends 'yoga/base.html' %}

{% block content %}

<div class="bg-faded p-4 my-4 text-justify">
  <hr class="divider">
  <h2 class="text-center text-lg text-uppercase my-0">L’INTERET DU YOGA
  </h2>
  <hr class="divider ">
  <p>La pratique du Yoga augmente la force du corps, l’élasticité et l’état de santé général sans aucune interférence négative sur le fonctionnement interne du corps. Son rôle est de discipliner l’esprit et de garder le corps dans un état de santé optimal.</p>
  <p>Le Yoga affirme qu’un corps sain est essentiel pour l’évolution mentale et spirituelle de l’individu.</p>
  <p>Le Yoga améliore la santé globale du pratiquant et permet de lutter contre les conditions ou problèmes ci-dessous :</p>
  <ul>
    <li>L’asthme</li>
    <li>Problème cardio-vasculaire</li>
    <li>Stress et anxiété</li>
    <li>Capacité cardio-respiratoire</li>
    <li>Traitement de la dépression</li>
    <li>Troubles musculaire-squelétiques</li>
    <li>La mémoire et les facultés cognitives</li>
    <li>Symptôme du syndrome de l’intestin irritable.</li>
  </ul>
  <p>Le yoga est souvent associé avec les personnes âgées ou malades mais contrairement aux dires le Yoga devrait être enseigné dès le plus jeune âge lorsque le corps est souple et flexible.</p>
  <p>Commencer tôt le Yoga permet de mettre en exergue le vieil adage : « mieux vaut prévenir que guérir ». Le Yoga aide dans les traitements des maladies sans en être son seul objectif.</p>
  <p>Le Yoga est une science utilisé pour garantir la croissance personnelle à  tous les niveaux de notre vie humaine sur le plan physique, mental, émotionnel, psychologique et spirituel.</p>
  <p>Son seul principe de base est d’avancer dans un état de vouloir trop contrôler à un état de lâcher prise. Il est dit qu’un esprit vide et l’atelier de travail de Dieu. Le Yoga est bien plus qu’une pratique de postures, de perte de poids ou de  gestion du stress. <br />
  Le Yoga nous amène à la détente et nous fait vivre la sensation d’apesanteur, c’est un apprentissage de la vie et souvent utilisé par des esprits logiques pour dépasser l’état de la logique.</p>	
</div>
<div class="bg-faded p-4 my-4 text-justify">
  <hr class="divider">
  <h2 class="text-center text-lg text-uppercase my-0">LA TECHNIQUE DU YOGA
  </h2>
  <hr class="divider ">
  <p>Le Hatha Yoga est la technique pratiquée au sein de Nang Fah. Celle-ci  associe un mélange de postures (asanas),  d’exercices de respiration (pranayama) et de méditation.</p>
  <p>Les différentes  postures requièrent des mouvements d’étirement, de flexion et de torsion. Elles favorisent la flexibilité de la colonne vertébrale,  sollicitent les articulations, les muscles, le système nerveux et les organes internes. Maintenir les postures un certain temps entraîne l’esprit à développer  concentration et persévérance.</p>
  <p>Les techniques respiratoires permettent de développer et de contrôler la « force vitale ».</p>
  <p>La méditation permet d’apaiser l’esprit.</p>
  <p>Toutes les parties du corps étant sollicitées en profondeur, Le Yoga est une technique complète idéale pour se prémunir des maladies physiques et psychiques. Par sa pratique,  Le Yoga protège le corps et procure à l’individu une sensation de confiance en soi et d’indépendance.</p>
  <p>Par sa nature propre, le Yoga est inextricablement associé aux lois de l’univers : le respect pour la vie, la vérité et la patience. Ces éléments sont des facteurs indispensables pour atteindre une respiration sereine, une paix de l’esprit allié à un renforcement de la volonté.</p>
  <p>Le Yoga contribue au bien être physique, mental, intellectuel, émotionnel et spirituel. Il permet de combiner la force du corps, de l’esprit et de l’âme en communion avec les énergies universelles.</p>
  <p>Pratiquer le Yoga c’est se libérer de la souffrance, de la tristesse et atteindre la paix et la joie intérieures.</p>
</div>
{% endblock %}