
{% extends 'yoga/base.html' %}

{% block content %}
<div class="bg-faded p-4 my-4 text-justify">
  <hr class="divider">
  <h2 class="text-center text-lg text-uppercase my-0">Professeur
  </h2>
  <hr class="divider ">
  <p>Je me consacre maintenant entièrement à ces deux disciplines et je me réactualise continuellement dans ces deux domaines : Tai Chi – Gi Gong et Yoga pour lesquelles je suis toujours en formation continue.</p>
  <ul>
    <li>2007 - Apprentissage du Hatha Yoga en Inde – divers centres en Inde</li>

    <li>2008 – Diplôme Thai massage de l’école de Chiang Mai, Thailande</li>

    <li>2010 – Diplôme CYQ – Niveau 2 et 3 – Instructeur Salle de Gym et Coach Sportif – Royaume-Unis</li>

    <li>2011 – Certificat niveau 1 – Instructeur Tai Chi/Qi Gong style Chen – Royaume-Unis</li>

    <li>2013 – Certificat Qi Gong – Shibashi 1 – Royaume-Unis</li>

    <li>2014 – Certificat niveau 2 – Instructeur Tai Chi/Qi Gong style Chen – Royaume-Unis</li>

    <li>2015 - Certificat Qi Gong – Shibashi 2 – Royaume-Unis</li>

    <li>2017 – Yoga Ashtanga Vinyasa – en formation actuellement - France</li>
	</ul>
</div>
{% endblock %}