{% extends 'yoga/base.html' %}

{% load static %}

{% block content %}
<div class="bg-faded p-4 my-4">
  <form class="text-center" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <input class="text-center" type="title" name="title" placeholder="Title"> <br>
    </div>
    <div class="form-group">
      <input class="text-center" type="file" name="myfile" placeholder="Image"> <br>
    </div>
    <div class="form-group">
      <button id="upload" type="submit" class="btn btn-primary">Ajouter</button>
    </div>
  </form>

  {% if uploaded_file_url %}
    <p class="text-center">File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}

  <p class="text-center"><a href="{% url 'index' %}">Retour</a></p>
</div>
{% endblock %}